kubernetes/apps/services/n8n/workflows/openclaw-release-watch.json
{
  "name": "OpenClaw Release Watch",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "https://github.com/openclaw/openclaw/releases.atom"
      },
      "id": "989dadb2-e281-4fd2-9d0c-30a11ea39b78",
      "name": "OpenClaw Release",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [1216, -432]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/MaudeCode/cove/releases/latest",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d4c15e4f-90ac-4305-bca1-56654f777945",
      "name": "Fetch Cove Release",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, -432]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "openclawVersion",
              "name": "openclawVersion",
              "value": "={{ $('OpenClaw Release').item.json.title.replace('OpenClaw ', '').replace('n8n@', '') }}",
              "type": "string"
            },
            {
              "id": "coveVersion",
              "name": "coveVersion",
              "value": "={{ $json.tag_name.replace('v', '') }}",
              "type": "string"
            },
            {
              "id": "url",
              "name": "url",
              "value": "={{ $('OpenClaw Release').item.json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9287f120-ef50-4827-b65b-5f0172de83de",
      "name": "Extract Versions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1664, -432]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT version FROM openclaw_notifications WHERE version = '{{ $json.openclawVersion }}' LIMIT 1",
        "options": {}
      },
      "id": "d3c2ec96-5b7d-46bd-8028-9fcd296ff160",
      "name": "Check If Notified",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1888, -432],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKOXWYzqCT5iLWp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "not-notified",
              "leftValue": "={{ $json.version }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "89311aa4-4ad8-4a42-8850-68f5f1378ad5",
      "name": "Skip If Already Notified",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [2096, -432]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "version-compare",
              "leftValue": "={{ $('Extract Versions').item.json.openclawVersion }}",
              "rightValue": "={{ $('Extract Versions').item.json.coveVersion }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc595bf2-c41e-413c-9541-a883f09c2bf3",
      "name": "Filter If Different",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [2320, -432]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.10.95:18789/hooks/openclaw-release",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ version: $('Extract Versions').item.json.openclawVersion, url: $('Extract Versions').item.json.url }) }}",
        "options": {}
      },
      "id": "0d29fef4-ec46-4fbd-a85f-758537185782",
      "name": "Notify OpenClaw",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2544, -432],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qS0NELPo7aLodwjJ",
          "name": "OpenClaw Webhook"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO openclaw_notifications (version) VALUES ('{{ $('Extract Versions').item.json.openclawVersion }}') ON CONFLICT (version) DO NOTHING",
        "options": {}
      },
      "id": "c624da9a-a664-473a-a954-7e192a343e17",
      "name": "Mark As Notified",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2768, -432],
      "credentials": {
        "postgres": {
          "id": "fuKOXWYzqCT5iLWp",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenClaw Release": {
      "main": [[{"node": "Fetch Cove Release", "type": "main", "index": 0}]]
    },
    "Fetch Cove Release": {
      "main": [[{"node": "Extract Versions", "type": "main", "index": 0}]]
    },
    "Extract Versions": {
      "main": [[{"node": "Check If Notified", "type": "main", "index": 0}]]
    },
    "Check If Notified": {
      "main": [[{"node": "Skip If Already Notified", "type": "main", "index": 0}]]
    },
    "Skip If Already Notified": {
      "main": [[{"node": "Filter If Different", "type": "main", "index": 0}]]
    },
    "Filter If Different": {
      "main": [[{"node": "Notify OpenClaw", "type": "main", "index": 0}]]
    },
    "Notify OpenClaw": {
      "main": [[{"node": "Mark As Notified", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
